@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, there is no results for your selection. Please select another country, category, channel or timeperiod
        Thanks...
    </h2>
</body>
</html>