@model bulabi.Domain.Entities.Video

@{
    ViewBag.Title = "GetVideo: Edit " + @Model.Title;
    Layout = "~/Views/Shared/_GetVideoLayout.cshtml";
}

<h1>Edit @Model.Title</h1>

@using (Html.BeginForm("Edit", "GetVideo", 
    FormMethod.Post, new { enctype = "multipart/form-data" })) {
    
    @Html.EditorForModel()

    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageUrl2 == null) {
            @:None
        } else {
            <img width="150" height="80" 
                src="../@Model.ImageUrl2" />
        }
        <div>Upload new image: <input type="file" name="Image" /></div>
    </div>
        
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
